apiVersion: v1
kind: Secret
metadata:
  name: db-secrets
type: Opaque
stringData:
  DB_NAME: investment_db
  DB_USER: postgres
  DB_PASSWORD: postgres
  SPRING_DATASOURCE_URL: jdbc:postgresql://investment_db-service:5432/investment_db